<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/aluno.css">
    <title>Aluno</title>
</head>
<body>
    
    <div class="fundo">
        <div class="retangulo1" >  <img  class="logo" src="../images/sesi-logo.png" alt=""></div>
        <div class="retangulo2"></div>
      
       <a href=""> <img class="iconadd" src="../images/botao-adicionar.png" /></a>
       <a href="">   <img class="iconlixo" src="../images/lixeira-de-reciclagem.png" /></a>
        <a href="">  <img class="iconpasta" src="../images/file-and-folder.png" /></a>
            <a href="">   <img class="iconpapel" src="../images/arquivo.png" /></a>
    
        <div class="atividades">Atividades avaliativas</div>
        <img class="iconlista" src="../images/lista-de-controle.png" />
        <div class="descricao">Descrição:</div>
        <div class="data">Data de entrega:</div>
        <div class="nota">Média da Nota:</div>
    </div>



</body>
</html>