<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/cadastro.css">

</head>
<body>
    
    <div class="fundo">
        <img class="imagemfundo"  src="../images/fundo.png" />
        <div class="retangulo1" ></div>
        <div class="retangulo2"></div>
        <div class="bemvindo">Bem-Vindo</div>
        <input placeholder="Usuário" class="campo1" >
        <input placeholder="Email" class="campo2">
        <input placeholder="Senha" class="campo3">
        <input placeholder="Confirmar senha" class="campo4">
     <a href=""><button> <div class="cadastro"></div>
        <div class="cadastrotxt">Cadastro</div></button>
      </a></div>



</body>
</html>