<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body>
    
    <div class="fundo">
        <img class="fundoimagem" src="../images/fundo2.png" />
        <div class="sombra" ></div>
        <div class="bemvindo">Bem-Vindo</div>
        <div class="retangulo1"></div>
        <input placeholder="Nome" class="campo1">
        <input placeholder="Senha" class="campo2">
        <div class="login"></div>
   <a href="">     <button><div class="logintxt">Login</div>
    <a href="">    <div class="esqueci">Esqueci minha senha</div></a>
  </button></a>  </div>



</body>
</html>